@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 "Inter", "sans-serif";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

#primary-container {
    margin-top: auto;
    text-align: center;
    border-radius: 7%;
    padding: 2em;
    background-color: rgb(31, 31, 31);
    color: #efefef;
}

footer {
    margin-top: auto;
    padding: 1em;
}

ul.profile-links-list {
    list-style-type: none;
}

.profile-links-list a {
    text-decoration: none;
    color: #efefef;
}

.location {
    color: rgb(216, 255, 49);
}
