* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

#primary-container {
    margin-top: auto;
    text-align: center;
}

footer {
    margin-top: auto;
    padding: 1em;
}
